#Core
numpy
pandas
#Deep Learning (PyTorch)
torch
torchvision
torchaudio
# Optional: For training large models (EfficientNet, ViT)
timm 
#Image Processing
opencv-python
Pillow
# Model Training & Evaluation
scikit-learn
matplotlib
seaborn

#MLOps
mlflow
dvc
dvc[gdrive]

#Monitoring
evidently

#API Deployment
fastapi
uvicorn[standard]
python-multipart

#Model Export
onnx
onnxruntime

#Utils
tqdm
pyyaml
joblib
